* {
  margin: 0;
  box-sizing: border-box;
}

.main-container {
  width: 100%;
  height: 100vh;
  display: flex;
  padding-top: 10px;
  align-items: center;
  flex-direction: column;
  background: linear-gradient(50deg, #2fc0e0, #2fe061);
}

/* Track section */
.track__section {
  gap: 10px;
  width: 80%;
  height: 150px;
  display: flex;
  margin-top: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

.player__one-track {
  width: 1200px;
  height: 70px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: #1f1c1c;
}

.player__two-track {
  width: 1200px;
  height: 70px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  background-color: #1f1c1c;
}

.player__one {
  width: 70px;
  height: 50px;
  transition: 1000ms all ease-in-out;
}

.player__two {
  width: 70px;
  height: 50px;
  transition: 1000ms all ease-in-out;
}

/* score section */
.score__section {
  width: 80%;
  height: auto;
  display: flex;
  margin-top: 40px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.score__board-one {
  display: flex;
  width: 300px;
  height: 20vh;
  background-color: #76e781;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.score__board-two {
  display: flex;
  width: 300px;
  height: 20vh;
  background-color: #76e781;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.die__section {
  width: 80%;
  display: flex;
  margin-top: 60px;
  align-items: center;
  justify-content: center;
}

.die {
  width: 100px;
  display: flex;
  height: 100px;
  cursor: pointer;
  border-radius: 15px;
  background-color: white;
  transition: 300ms all ease-in-out;
}

.die:hover {
  transform: scale(1.05);
}

img {
  width: 100%;
  height: 100%;
}
